* {width: auto;
height: 100%}
* {background-image: url("image/BG.png");
    background-repeat: no-repeat;
    background-position:center}
.bk {background-image: url("image/Rectangle 287.png");
    background-repeat: no-repeat;
    background-position: bottom}
/*.bk {width: 1158px;
    height: 367px;
    margin-top: 350px;
    background: azure;}
.bk {overflow: auto
}
.bk {box-shadow: 68px 82px 123px #000000}*/